.flag_option {
  display: flex;
  align-items: center;
  line-height: 1;
}

.flag_option img {
  margin-right: 5px;
}

.select--multiple .select__tag .flag_option span {
  display: none;
}

.select--multiple .select__tag .flag_option img {
  margin-right: 0;
}
