body,
#storybook-preview-wrapper {
  background-color: #f3f3f3 !important;
}

#storybook-explorer-tree {
  margin-top: 16px;
}

.sidebar-container {
  background-color: #212121;
}

.search-field {
  display: none !important;
}

.sidebar-header > div:first-child {
  margin-right: 0 !important;
  margin-bottom: 20px;
}

.sidebar-header > div:first-child > a {
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
}

.sidebar-header > div:last-child {
  display: none !important;
}

#storybook-explorer-menu {
  margin: 0 !important;
}

#storybook-explorer-tree #artof-select.sidebar-item {
  display: none !important;
}

#storybook-explorer-tree > div > div {
  margin: 0;
}

#storybook-explorer-tree .sidebar-item {
  color: #aaa;
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#storybook-explorer-tree .sidebar-item span {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  margin-right: 10px;
}

#storybook-explorer-tree .sidebar-item svg {
  width: 14px;
  height: 14px;
}

#storybook-explorer-tree .sidebar-item[data-selected="true"] {
  color: #fff;
  font-weight: 400;
}

.os-host + div {
  top: 0 !important;
  height: 100% !important;
}

#root > div > div > div {
  box-shadow: none !important;
}

#root > div > div:last-child {
  top: 0 !important;
}

[role="main"] #storybook-panel-root > .os-host {
  display: none !important;
}

#root > div {
  background-color: #333333;
}

#panel-tab-content .os-content select {
  background: #3f3f3f url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23aaa' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 10px center / 10px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

#panel-tab-content .os-content > form > label {
  align-items: flex-start;
}

#panel-tab-content .os-content > form > label > span:first-child {
  width: 250px;
  white-space: pre-wrap;
  font-weight: 400;
}

#panel-tab-content .os-content > form > label > span:first-child > span:first-line {
 font-weight: 700;
 line-height: 2em;
}

#panel-tab-content .os-content textarea {
  resize: none;
}

#panel-tab-content .os-content input[type=number] {
  max-width: 100px;
}

.badge-multiple {
  display: inline-block;
  margin-right: 10px;
  background-color: #ffb736;
  padding: 2px 4px;
  line-height: 1;
  color: #000;
  font-size: 12px;
  border-radius: 3px;
}

.badge-multiple:before {
  content: "Multiple";
}

.custom-code > code {
  margin-top: 5px !important;
  white-space: pre-wrap !important;
  line-height: 1.4 !important;
}
