$font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1rem;

$color-muted: #505050;
$color-placeholder: #737275;
$color-border: #d4d4d4;
$color-text: #1e2024;
$color-primary: #00b8a6;
$color-white: #fff;
$color-bg-hover: #f1fcfb;
$color-danger: #e94c88;

$select-font-size: $font-size-base * .92;
$select-line-height: 1.35;
$select-padding-x: $font-size-base * 1;
$select-padding-y: $font-size-base * .75;
$select-height: ($select-font-size * $select-line-height) + ($select-padding-y * 2);
$select-icon-size: ($select-padding-x / 1.75);

.select__element {
  display: none;
}

.select__label {
  display: block;
  margin: 0 0 ($font-size-base / 2);
  color: $color-muted;
  font-family: $font-family;
  transition: all 300ms;
  font-size: $font-size-base * .92;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
}

.select__field {
  position: relative;
  box-shadow: none;
  outline: none;
}

.select__search {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: $select-padding-y $select-padding-x;
  border: 1px solid transparent;
  background: transparent;
  color: $color-text;
  font-weight: 400;
  font-family: $font-family;
  font-size: $select-font-size;
  line-height: $select-line-height;
  outline: none;

  &:focus {
    ~ .select__value {
      color: $color-placeholder;

      .select__tag {
        opacity: 0;
      }

      &.select__value--tags {
        color: transparent;
      }
    }
  }

  &.select__search--filled {
    ~ .select__value {
      color: transparent;

      .select__tag {
        opacity: 0;
      }
    }
  }
}

.select__value {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  height: $select-height;
  margin: 0;
  padding: $select-padding-y ($select-padding-x * 2 + $select-icon-size + $font-size-base * $select-line-height) $select-padding-y $select-padding-x;
  outline: none;
  box-shadow: none;
  border: 1px solid $color-border;
  border-radius: $font-size-base / 4;
  color: $color-text;
  font-family: $font-family;
  font-size: $select-font-size;
  line-height: $select-line-height;
  background: $color-white url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23505050' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right $select-padding-x center / $select-icon-size $select-icon-size;
  transition: border 300ms, background-color 300ms, box-shadow 300ms;
  cursor: pointer;

  .select--disabled & {
    cursor: not-allowed;
  }

  &.select__value--placeholder {
    align-items: center;
    color: $color-placeholder;
  }

  .select:not(.select--disabled):not(.select--error):not(.select--opened):hover & {
    border-color: rgba($color-primary, .8);
  }

  .select--error & {
    border-color: rgba($color-danger, .5);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23e94c88' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
  }

  .select--error:not(.select--opened) .select__field:focus & {
    box-shadow: 0 0 0 2px rgba($color-danger, .2);
  }

  .select:not(.select--disabled):not(.select--error) .select__field:focus &,
  .select__search:focus ~ &,
  .select--opened & {
    border-color: rgba($color-primary, .8);
    box-shadow: 0 0 0 2px rgba($color-primary, .2);
  }

  .select--disabled & {
    background-color: lighten($color-border, 14%);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23d4d4d4' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
    color: $color-muted;

    &.select__value--placeholder {
      color: $color-placeholder;
    }
  }

  &.select__value--tags:not(.select__value--placeholder) {
    display: block;
    white-space: nowrap;
    padding-top: $select-padding-y / 1.25;
    padding-bottom: $select-padding-y / 1.25;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0;
  }
}

.select__value_text {
  pointer-events: none;
}

.select__value_custom {
  margin-right: auto;
}

.select__tag {
  display: inline-block;
  box-sizing: border-box;
  height: $select-height - ($select-padding-y / 1.15 * 2);
  font-size: $font-size-base * .8125;
  line-height: $select-height - ($select-padding-y / 1.15 * 2);
  background-color: rgba($color-primary, .2);
  text-transform: uppercase;
  white-space: nowrap;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  border: none;
  color: darken($color-primary, 25%);
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  margin-right: $font-size-base / 4;
  pointer-events: none;

  &:last-child {
    margin-right: 0;
  }

  &.select__tag--removable {
    position: relative;
    padding-right: calc(1.35rem + 8px);
    pointer-events: all;
  }
}

.select__tag-remove {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 4px 4px 0;
  padding: 0;
  border: none;
  border-left: rgba($color-primary, .2) 1px solid;
  background: transparent;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  transition: all 300ms;

  &:before {
    content: "";
    display: block;
    width: $font-size-base * $select-line-height;
    height: $font-size-base * $select-line-height;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3e%3cpath fill='%23003933' d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z'/%3e%3c/svg%3e") no-repeat center center / $select-font-size $select-font-size;
    opacity: .5;
    transition: all 300ms;
  }

  .select__tag--removable:hover & {
    background-color: rgba($color-primary, .2);
    border-left-color: transparent;

    &:before {
      opacity: 1;
    }
  }
}

.select__tags_count {
  border-radius: 100%;
  font-size: $font-size-base * .75;
  height: $select-height - ($select-padding-y * 2);
  width: $select-height - ($select-padding-y * 2);
  margin-left: $select-padding-y / -2;
  margin-right: $font-size-base / 4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $color-primary;
  color: $color-white;
  vertical-align: middle;
}

.select__dropdown {
  box-sizing: border-box;
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: $font-size-base / 4;
  box-shadow: 0 2px 8px 0 rgba($color-text, .08);
  max-height: $select-height * 5.5;
  overflow: auto;
  overflow-x: hidden;

  &[data-popper-placement="top"] {
    box-shadow: 0 -2px 8px 0 rgba($color-text, .08);
  }

  &:empty {
    display: none;
  }
}

.select__option {
  box-sizing: border-box;
  padding: $select-padding-y $select-padding-x;
  font-family: $font-family;
  font-size: $select-font-size;
  line-height: $select-line-height;
  color: $color-text;
  transition: color 300ms, background-color 300ms;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  &.select__option--selected {
    background-color: rgba($color-primary, .08);
    color: darken($color-primary, 10%);
  }

  &:hover, &:focus {
    background-color: darken($color-bg-hover, 5%);
  }

  ~ .select__option {
    border-top: rgba($color-border, .5) 1px solid;
  }

  .select--multiple & {
    display: flex;
    align-items: center;

    &:before {
      content: "";
      display: block;
      width: $font-size-base * .75;
      height: $font-size-base * .75;
      border: 1px solid $color-muted;
      border-radius: 2px;
      margin-right: 8px;
      background-color: $color-white;
      transition: border-color 300ms;
    }

    &.select__option--selected {
      &:before {
        background: $color-primary url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%23fff' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3e%3c/svg%3e") no-repeat 50% 50% / 8px 8px;
        border-color: $color-primary;
      }
    }
  }
}

.select__error {
  box-sizing: border-box;
  margin-top: $font-size-base / 2;
  color: $color-danger;
  font-family: $font-family;
  font-size: $font-size-base * .8125;
  font-weight: 400;
  line-height: 1;
}

.select__hint {
  box-sizing: border-box;
  margin-top: $font-size-base / 2;
  color: $color-placeholder;
  font-family: $font-family;
  font-size: $font-size-base * .8125;
  font-weight: 400;
  line-height: 1;
}

.select__option.select__option--select_all {
  color: $color-primary;

  &:before {
    display: none;
  }
}

.select__clear {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: ($select-padding-x * 2);
  width: $font-size-base * $select-line-height;
  height: $font-size-base * $select-line-height;
  padding: 0;
  border: none;
  box-shadow: none;
  outline: none;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3e%3cpath fill='%23505050' d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z'/%3e%3c/svg%3e") no-repeat center center / $select-font-size $select-font-size;
  cursor: pointer;
  opacity: 0;
  transition: all 300ms;

  .select__value:hover & {
    opacity: 1;
  }
}
